{% extends 'base.html' %}



{% block title %}
Dictionaries
{% endblock title %}

{% block content %}
    <h1>{{ data_type["name"] }}</h1>
    <p>{{ data_type["summary"] }}</p>

    <p>Note – Dictionary keys are case sensitive, the same name but different cases of Key will be treated distinctly. </p>

    <h4>Creating Dictionaries in Python</h4>
    <pre class="line-numbers">
        <code class="language-python">
            INPUT:
            # Creating a Dictionary
            # with Integer Keys
            Dict = {1: 'Programmers', 2: 'For', 3: 'Programmers'}
            print("\nDictionary with the use of Integer Keys: ")
            print(Dict)
            
            OUTPUT:
            # Creating a Dictionary
            # with Mixed keys
            Dict = {'Name': 'Programmers', 1: [1, 2, 3, 4]}
            print("\nDictionary with the use of Mixed Keys: ")
            print(Dict)            
        </code>
     </pre>

{% endblock content %}